*{
    margin:0;
    padding:0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 90px;
	top: 50px;
}
.logo a{
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    font-weight: bold;
	color: #2f2e41;
	font-size:2rem;
    letter-spacing: 1;
}
.SearchArea{
    position: fixed;
	right: 90px;
	top: 50px;
	width:170px;
	height: 45px;
	background-color:#fff;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	box-sizing: border-box;
    z-index: 1;
	border:1px solid rgba(167, 158, 245, 0.1);

   
}
.searchbox input{
    width: 90px;
	height: 20px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #1F1F1F;
	font-size: 1rem;
	padding: 0px 10px;

}
.searchbox input::placeholder{
    color: #1D1D1D;
	font-weight:400;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-family: poppins;
	
}
.section1{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32%;
	left: 27%;
}
img{
	height: 300px;
	
}
.icons{
	display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: flex-start;
    position: fixed;
    line-height: 64px;
    left: 37px;
    border-radius: 30px;
    padding: 0px 19px;
    top: 37%;
	
    
}
.txt1{
	
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	margin-left:45%;
	
}
span{
	color: #7a72ff;

}
.shanto{
	border: none;
    outline: none;
    width: 200px;
    border-radius: 26px;
    padding: 17px;
    text-align: center;
    background-color: #7a72ff;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    margin-top: 14px;
	margin-left: 8px;
	font-size: 14px;
}
.txt1 h1{
	font-size: 64px;
	letter-spacing:20px;
	opacity:0.7;
	
}
.txt1 h2{
	font-size: 46px;
	letter-spacing:7px;
	opacity:0.7;
}

.productSection{
	width: 88%;
	height: 100%;
	margin-top:-40px;
    margin-left: 116px;
	border-radius: 40px;
	background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
}
#productbox img {
    height: 180px;
}
.product{
	display: grid;
    grid-template-columns: auto auto auto auto;
	grid-row-gap: 120px;
	grid-column-gap:10px ;
	justify-content:space-around;
	margin-left: 20px;
	margin-top: 107px;

}
.productSection h2{
	text-align: center;
    padding-top: 58px;
	font-size: 32px;
}
.productBox5{
	grid-column-start: 2;
	grid-column-end: 3;
}
#productbox p{ 
   text-align: center;
}


.productBox:hover{
	background-color: #FFFFFF;
	box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 220px;
    height: 278px;
    padding: 30px;


}
.productBox5:hover{
	background-color: #FFFFFF;
	box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 220px;
    height: 278px;
    padding: 30px;
}
.productBox6:hover{
	background-color: #FFFFFF;
	box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 220px;
    height: 278px;
    padding: 30px;


}
#productbox a{
	margin-left: 90px;
}

button{
        border: none;
        outline: none;
        width: 200px;
        border-radius: 26px;
        padding: 17px;
        text-align: center;
        background-color: #7a72ff;
        color: white;
        font-weight: bold;
        font-family: Roboto;
        margin-top: 14px;
	    margin-left: 8px;
	    font-size: 14px;
	}
	.productBox button {
		display: none;
	}
	#productbox:hover button {
		display: block;
		margin-top: 57px;
	
	}
	.productBox5 button {
		display: none;
		
	}
	.productBox5:hover button {
		display:block;
		margin-top: 57px;
	}
	.productBox6 button {
		display: none;
		
	}
	.productBox6:hover button {
		display:block;
		margin-top: 57px;
	}
	.section2{
		width: 88%;
	height: 100%;
	margin-top:110px;
    margin-left: 136px;
	display: flex;
	
	}
	.div1{
		margin-left: 50px;
	}
	.div1 h1{
		font-size: 48px;
		font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
text-transform: capitalize;
letter-spacing: 2px;
	}
	.div1 h4{
   font-size: 32px;
   font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
text-transform: capitalize;
margin-top: 7px;
opacity: 0.7;
}

	.div1 p{
		font-size: 16px;
		opacity: 0.5;
		font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
text-transform: capitalize;
margin-top: 7px;
}
.div2{
	margin-left: 120px;
}
footer{
	color: white;
	background-color: black!important;
    padding: 20px;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

}
.fab:hover{
 
  color: rgb(11, 11, 15);
}
.productSection2{
	width: 88%;
	height: 100%;
	margin-top:127px;
    margin-left: 116px;
	border-radius: 40px;
	background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
}
.productSection2 h2{
	text-align: center;
    padding-top: 58px;
	font-size: 32px;
}
.Notification{
	width:100%;	
	height:250px;
	margin-bottom:30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	}


	.Notification h3{
		font-size: 2rem;
		color: rgb(56, 56, 56);
		}


		.NotificationInput{
			width:500px;
			background-color: #fff;
			border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding:5px 20px;
			box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
			margin-top: 30px;
		}


		.NotificationInput input{
			width:100%;
			height: 40px;
			border: none;
			outline: none;
			background-color: transparent;
		}


	
		.NotificationButton{
			width:120px;
			height: 40px;
			background-color: #202020;
			border-radius: 20px;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-weight: bold;
			box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
			font-size: 1rem;
		}
		.NotificationButton:hover{
			background-color:#6b60ec;
			transition: all  ease 0.5s;
		}
		.shanto:hover{
			background-color:#1b1b1f;
			transition: all  ease 0.5s;
		}
		button:hover{
			background-color:#1b1b1f;
			transition: all  ease 0.5s;
		}


		